<ion-view wiew-title="contacts" cache-view="false">
    <ion-content>
        <div id="map_contacts">
            <ui-gmap-google-map class="angular-google-map" center="map.center" zoom="map.zoom" draggable="true" options="options">
                <ui-gmap-marker idkey="marker.id" coords="marker.coords" options="marker.options">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
        <h1 class="text-center text-gold text-max">
            {{store.sales_person.first}} {{store.sales_person.last}}
        </h1>
        <hr />
        <div class="list">

            <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>
                {{store.sales_person.email}}
            </a>

            <a ng-href="tel:{{store.phone}}" class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-chatbubble-working"></i>
                {{store.phone}}
                <i class="icon ion-ios-telephone-outline"></i>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Friends
                <span class="badge badge-assertive">666</span>
            </a>

        </div>
    </ion-content>
</ion-view>