<ion-view>
    <ion-content>
        <h3 class="text-center text-gold text-padding">I nostri prodotti</h3>
        <br />
        <hr />

        <div ng-repeat="x in store.products">
            <div class="list">
                <div class="item item-icon-right">
                    <div ng-if="!x.isAvailable" class="text-red">
                        <i class="icon ion-close-circled"></i>
                    </div>
                    <div ng-if="x.isAvailable" class="text-green">
                        <i class="icon ion-checkmark-circled"></i>
                    </div>
                    <h2 class="text-gold text-max">{{x.name}}</h2>
                    <h2 class="text-gold">{{x.price}} &#8364</h2>
                </div>
            </div>
            <hr />
        </div>
    </ion-content>
</ion-view>