<ion-view view-title="Maps">
    <ion-header-bar>
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content>
        <div>
            <h3>Nome Azienda: {{documents.name}}</h3>
            <h3>Indirizzo: {{documents.address}}</h3>
            <h3>Data apertura: {{documents.open_date}}</h3>
            <hr/>
        </div>
    </ion-content>
    <div class="tabs-striped tabs-color-assertive">
        <div class="tabs">
            <a class="tab-item active" href="#">
                <i class="icon ion-home"></i>
                Test
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-star"></i>
                Favorites
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-gear-a"></i>
                Settings
            </a>
        </div>
    </div>
</ion-view>