<ion-view view-title="{{category | capitalize | under}}">
    <ion-content>
        <ion-list>
          <!-- Per evitare di buggare tutto -->
          <div ng-if="postsByCat.length==0 && !isLoading" class="list card">
                <div  class="col-70 col-offset-10">
                    <h3>Sembra che nessun evento su questa categoria sia al momento disponibile.</h3>
                </div>
            </div>
            <ion-item ng-repeat="x in postsByCat">
               <a href="#/app/details_by_category/{{$index}}">
                    <div class="list card">
                        <div class="item">
                            <h2>{{x.post_title}}</h2>
                            <p>{{x.evcal_start_date}}</p>
                        </div>
                        <div ng-if="postsByCat.blogname != 'Nessun post trovato'">
                            <div class="item item-body">
                                <img class="full-image" src="{{x.post_thumbnail}}">
                                <p>{{x.post_excerpt | myFilter}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="isLoading" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
