<ion-view view-title={{post.evcal_start_date}}>
    <ion-content>
        <ion-item >
            <div class="list card">
                <div class="item item-avatar">
                    <h1>{{post.blogname}}</h1>
                    <p>{{post.evcal_start_date}}</p>
                </div>
                <div ng-if="documents.blogname != 'Nessun post trovato'">
                    <div class="item item-body">
                        <img class="full-image" src="{{post.post_thumbnail}}">
                        <p ng-bind-html="post.post_content"></p>
                    <!--TODO: DISPLAY MAP.
                    <img ng-if= "post.evcal_gmap_gen.length[0]=='si'" src={{post.evcal_gmap_gen [1]}}/>
                    -->
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
