<ion-view view-title="All events">
    <ion-content>
        <ion-list>
            <!-- Per evitare di buggare tutto -->
            <div ng-if="posts.length==0 && !isLoading" class="list card">
                <div  class="col-70 col-offset-10">
                <h3>Sembra che nessun evento sia al momento disponibile.</h3>
                </div>
            </div>
            <ion-item ng-repeat="x in posts">
                <a href="#/app/playlists/{{$index}}">
                    <div class="list card">
                        <div class="item item-avatar">
                            <h3>{{x.blogname}}</h3>
                            <p>{{x.evcal_start_date}}</p>
                        </div>
                        <div ng-if="posts.blogname != 'Nessun post trovato'">
                            <div class="item item-body">
                                <img class="full-image" src="{{x.post_thumbnail}}">
                                <p>{{x.post_excerpt | myFilter}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </ion-item>
        </ion-list>
        <div ng-if="isLoading">
            <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>
