<ion-view view-title={{post.evcal_start_date}}>
    <ion-content>
        <ion-item>
            <div class="list card">
                <div class="item tit">
                    <h3>{{post.post_title}}</h3>
                    <p>{{post.evcal_start_date}}<br/>{{post.blogname_slug}}</p>
                </div>
                <div ng-if="post.blogname != 'Nessun post trovato'">
                    <div class="item item-body">
                        <img class="full-image" src="{{post.post_thumbnail}}">
                        <p ng-bind-html="post.post_content | newLine | lowercase"></p>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
