/* Empty. Add your own CSS if you like */

.text-gold{
    color: gold;
}

.bar.bar-stable.bar-header {
    background-color: red;
}

.login {
    background-color: transparent;
    background-image: url(../img/login4def.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bar {
    z-index: 0;
}

.bar.bar-header.loginBar {
    background-color: transparent;
    border: none;
}

.item.item-input {
    background-color: transparent;
    border-radius: 1px;
    filter: blur(0px);
    padding-top: 2em;
    border: none;
}

.item {
    background-color: transparent;
    border-radius: 1px;
    border: none;
}

.button.button-dark {
    background-color: #19171b;
    filter: blur(0px);
    margin-top: 2em;
    height: 75px;
}

.listof {
    border: none;
    margin-top: 50%;
    margin-left: 5%;
    margin-right: 5%;
}



#map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

.scroll {
    height: 100%;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.contentWindow{
    text-align:center;
}
